<div *ngIf="element">
  <a routerLink="/" mat-raised-button>Back to menu</a>
  <br /><br />
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        General Information
      </mat-expansion-panel-header>

      <img class="patch" [src]="element.links.mission_patch" alt="Mission Patch" />
      <p>
        <strong>Flight number:</strong>
        <span>{{element.flight_number}}</span>
      </p>
      <p>
        <strong>Rocket:</strong>
        <span>{{element.rocket.rocket_name}}&nbsp;{{element.rocket.rocket_type}}</span>
      </p>
      <p>
        <strong>Launch Date:</strong>
        <span>{{element.launch_date_utc}} (UTC); {{element.launch_date_local}} (Local)</span>
      </p>
      <p>
        <strong>Launch Site:</strong>
        <span>{{element.launch_site.site_name_long}}</span>
      </p>
      <p>
        <strong>Launch Successful:</strong>
        <span *ngIf="element.launch_success">✅</span>
        <span *ngIf="!element.launch_success">❌</span>
      </p>
      <p>
        <strong>Details:</strong>
        <span>{{element.details}}</span>
      </p>
      <div style="clear: both;"></div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        First Stage
      </mat-expansion-panel-header>

      <ol>
        <li *ngFor="let core of element.rocket.first_stage.cores">
          <p>
            <strong>Core:</strong>
            <span>{{core.core_serial}}</span>
          </p>
          <p>
            <strong>Flight:</strong>
            <span>{{core.flight}}</span>
          </p>
          <p>
            <strong>Block:</strong>
            <span>{{core.block}}</span>
          </p>
          <div *ngIf="core.landing_type">
            <p>
              <strong>Landing Target:</strong>
              <span>{{core.landing_type}}<span *ngIf="core.landing_vehicle">&nbsp;{{core.landing_vehicle}}</span></span>
            </p>
            <p>
              <strong>Landing Successful:</strong>
              <span *ngIf="core.land_success">✅</span>
              <span *ngIf="!core.land_success">❌</span>
            </p>
          </div>
        </li>
      </ol>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Second Stage
      </mat-expansion-panel-header>

      <ol>
        <li *ngFor="let payload of element.rocket.second_stage.payloads">
          <p>
            <strong>Payload ID:</strong>
            <span>{{payload.payload_id}}</span>
          </p>
          <p>
            <strong>Reused:</strong>
            <span *ngIf="payload.reused">✅</span>
            <span *ngIf="!payload.reused">❌</span>
          </p>
          <p>
            <strong>Customer(s):</strong>
            <span *ngFor="let customer of payload.customers">{{customer}};&nbsp;</span>
          </p>
          <p>
            <strong>Type:</strong>
            <span>{{payload.payload_type}}</span>
          </p>
          <p>
            <strong>Mass (kg):</strong>
            <span>{{payload.payload_mass_kg}}</span>
          </p>
          <p>
            <strong>Target Orbit:</strong>
            <span>{{payload.orbit}}</span>
          </p>
        </li>
      </ol>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Reuse
      </mat-expansion-panel-header>

      <p>
        Core:
        <span *ngIf="element.reuse.core">✅</span>
        <span *ngIf="!element.reuse.core">❌</span>
      </p>
      <div *ngIf="element.rocket.rocket_id == 'falconheavy'">
        <p>
          Side Core 1:
          <span *ngIf="element.reuse.side_core1">✅</span>
          <span *ngIf="!element.reuse.side_core1">❌</span>
        </p>
        <p>
          Side Core 2:
          <span *ngIf="element.reuse.side_core2">✅</span>
          <span *ngIf="!element.reuse.side_core2">❌</span>
        </p>
      </div>
      <p>
        Fairings:
        <span *ngIf="element.reuse.fairings">✅</span>
        <span *ngIf="!element.reuse.fairings">❌</span>
      </p>
      <p>
        Capsule:
        <span *ngIf="element.reuse.capsule">✅</span>
        <span *ngIf="!element.reuse.capsule">❌</span>
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div *ngIf="!element">
  Loading...
  <br />
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<br />
